* {
    padding: 0;
    margin: 0;
}

/*.container {
    max-width: 1000px;
    margin: 0;
    display: flex;
} */



.hero {
    position: relative;
    top: 50px;
    text-align: center;
    color: white;
    z-index: -1;
}

.hero img {
    max-width: 1000px;

}

.herotxt {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 1px;
    font-weight: 150;
    font-size: 60px;
}


.nav-bar {
    background-color: rgba(53, 53, 248, 0.938);
    height: 50px;
    width: 100%;
    position: fixed;
    box-shadow: 10px 10px 50px 8px #888888
}

.navtxt {
    width: 100%;
    position: fixed;
    text-align: center;
    top: 10px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.menulist {
    background-color: rgba(53, 53, 248, 0.938);
    height: 100%;
    width: 25%;
    position: fixed;
    top: 50px;
    display: none;
}

.menulist ul li {
    padding-left: 10px;
    margin: 10px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 25px;
}

.menulist a {
    text-decoration: none;
}

.menulist a:link {
    color: white;
}

.menulist a:visited {
    color: white;
}

.hamburgBtn {
    position: fixed;
    top: 5px;
    left: 10px;
    width: 40px;
    height: 40px;
    z-index: 1;
    background: url(https://raw.githubusercontent.com/Zulinov/skillsProjects/main/hamburger.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
}

 .logo {
    position: fixed;
    top: 2px;
    right: 10px;
    width: 50px;
    height: 50px;
 }


.main {
    position: relative;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    top: 60px;
}

.upcoming {
    text-align: left;
    font-size: 40px;
}

.location {
    font-size: 40px;
    margin-top: 10px;
}

.main {
    z-index: -1;
}

.main h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main h4 {
    font-size: 25px;
}

.main p {
    font-size: 20px;
    margin-bottom: 10px;
}

.main a:link{
    color: green;
}

.main a:visited {
    color: green;
}

@media only screen and (max-width: 1000px) {
    .hero img {
        width: 70%;
        height: auto;
        position: relative;
    }

    .herotxt {
        width: 70%;
        height: auto;
    }

    .main h2, h3, h4, p {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 200px) and (max-width: 550px) {
    .herotxt {
        font-size: 30px;
    }
}